
@{
    ViewData["Title"] = "AboutMe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AboutMe</h1>

<!--Ordered list Example-->
<p>Hobbies (ordered list)</p>
<ol>
    <li>Hobby 1</li>
    <li>Hobby 2</li>
    <li>Hobby 3</li>
    <li>Hobby 4</li>
    <li>Hobby 5</li>
</ol>

<br />

<!--Unordered list Example-->
<p>Interests (unordered list)</p>
<ul>
    <li>Interest 1</li>
    <li>Interest 2</li>
    <li>Interest 3</li>
    <li>Interest 4</li>
    <li>Interest 5</li>
</ul>

