@*
    this is a razor page comment
*@
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Et netus et malesuada fames ac. Penatibus et magnis dis parturient. In hendrerit gravida rutrum quisque non tellus orci ac auctor. Arcu felis bibendum ut tristique et egestas quis. Ipsum a arcu cursus vitae. Nisi porta lorem mollis aliquam ut porttitor. Ac feugiat sed lectus vestibulum mattis. Accumsan in nisl nisi scelerisque eu. Mattis pellentesque id nibh tortor. Ipsum dolor sit amet consectetur. At quis risus sed vulputate odio ut enim. Mauris pharetra et ultrices neque ornare. Luctus accumsan tortor posuere ac ut consequat semper viverra. Netus et malesuada fames ac turpis. Maecenas volutpat blandit aliquam etiam erat velit scelerisque.
</p>
